/* Bootstrap based project */
/* You can write custom CSS here */

body {
    background-color: #f8f9fa;
}

.common-color{
    color: #432dd7;
}

/* Layout: make wrapper full height so footer can stick to bottom */
html, body, #app {
    height: 100%;
}

.app-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.app-content {
    flex: 1 0 auto; /* grow and take available space */
}

.footer {
  color: white;
  text-align: center;
  flex-shrink: 0;
}

.increment-btn {
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
}

.decrement-btn {
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
}

.increment-btn:hover {
    background-color: #f0fcf4;

    border: 1px solid #28a745;
}

.decrement-btn:hover {
    background-color: #fcf2f2;
    border: 1px solid #dc3545;
}

/* guest details page styles */

.guest-details-title {
    font-size: 2.2rem;
    font-weight: bold;
}

.form-label,
.form-control {
    color: #495057;
    background-color: #FAFAFA;   
}

.form-control::placeholder {
    color: #6c757d;
    font-size: 1.1rem;
}

.checkbox-terms{
    background-color: #FAFAFA;
    padding: 15px 35px;
    border-radius: 10px;
    color: #495057;
}

/* checkout styles*/


/* footer styles */



/* Compact navbar adjustments */

.navbar .navbar-brand {
    line-height: 1;
}
.navbar .nav-link {
    padding-top: 0.35rem !important;
    padding-bottom: 0.35rem !important;
}
